/* social-links */

.social-links {
    display: flex;

    &__item {
        width: 44px;
        height: 44px;
    }

    &__item:not(:last-child) {
        margin-right: 10px;
    }

    &__link {
        @extend %centered-flex;

        width: 100%;
        height: 100%;
        border-radius: 50%;
    }
}
