body {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.03em;
    font-size: 14px;
    /* font-style: normal; */
    /* font-weight: 400; */
    color: var(--primary-text-color);
    background-color: var(--main-background);
}
body.modal-open {
    overflow: hidden;
}