%centered-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

%y-centered-flex {
    display: flex;
    align-items: center;
}

// Динамічна змінна

// @mixin centeredFlex($type: flex) {
//   display: $type;
//   align-items: center;
//   justify-content: center;
// }
// @include centeredFlex;