:root {
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --primary-white-color: #FFFFFF;
    --accent-colour: #2196F3;
    --footer-gray: rgba(255, 255, 255, 0.6);
    --main-background: #FFFFFF;
    --secondary-background: #2F303A;
    --alternative-background: #F5F4FA;
    --logo-black: #000000;

    --cubic-bezier-stand: cubic-bezier(0.4, 0, 0.2, 1);
}

