/* постійні клієнти */

.clients {
    fill: #AFB1B8;
    display: flex;
    flex-wrap: wrap;
    margin: -15px;

    &__item {
        width: 170px;
        height: 92px;

        margin: 15px;
           width: calc((100% - 2 * 30px) / 2);
        
        @media screen and (min-width: 786px) {
            width: calc((100% - 3 * 30px) / 3);
        }
        @media screen and (min-width: 1199px) {
            width: calc((100% - 6 * 30px) / 6);
        }

    }

    &__link {
        width: 100%;
        height: 100%;

        border: 1px solid #AFB1B8;
        border-radius: 4px;

        @extend %centered-flex;

        transition: border 250ms var(--cubic-bezier-stand), fill 250ms var(--cubic-bezier-stand);
    }
}

.clients__link:hover,
.clients__link:focus {
    fill: var(--accent-colour);
    border: 1px solid var(--accent-colour);
}


// .clients {
//     fill: #AFB1B8;
//     display: flex;
//     justify-content: space-between;

//     &__item {
//         width: 170px;
//         height: 92px;
//     }

//     &__link {
//         width: 100%;
//         height: 100%;

//         border: 1px solid #AFB1B8;
//         border-radius: 4px;

//         @extend %centered-flex;

//         transition: border 250ms var(--cubic-bezier-stand), fill 250ms var(--cubic-bezier-stand);
//     }
// }

// .clients__link:hover,
// .clients__link:focus {
//     fill: var(--accent-colour);
//     border: 1px solid var(--accent-colour);
// }