/* Наші особливості */

.feature {
    &__list {
        @media screen and (min-width: 768px) {
            display: flex;
            justify-content: center;
        }

        @media screen and (min-width: 768px) and (max-width: 1199px) {
            flex-wrap: wrap;
            margin: -15px;
        }
    }

    &__item {

        @media screen and (min-width: 768px) and (max-width: 1199px) {
            margin: 15px;
        }

        @media screen and (min-width: 768px) {
            width: 354px;
        }
        @media screen and (min-width: 1200px) {
            width: 270px;
        }
    }

    &__item:not(:last-child) {
        @media screen and (min-width: 1200px) {
            margin-right: 30px;
        }
    }

    &__title {
        font-size: 14px;
        line-height: 1.14;
        text-transform: uppercase;
        margin-bottom: 10px;

        @media screen and (max-width: 767px) {
            text-align: center;
        }
    }

    &__text {
        line-height: 1.71;

        color: var(--secondary-text-color);
    }

    &__box {
        min-width: 270px;
        height: 120px;
        background-color: var(--alternative-background);
        border-radius: 4px;

        @extend %centered-flex;

        margin-bottom: 30px;
    }
}

// .feature {
//     &__list {
//         display: flex;
//     }

//     &__item:not(:last-child) {
//         margin-right: 30px;
//     }

//     &__item {
//         width: 270px;
//     }

//     &__title {
//         font-size: 14px;
//         line-height: 1.14;
//         text-transform: uppercase;
//         margin-bottom: 10px;
//     }

//     &__text {
//         line-height: 1.71;

//         color: var(--secondary-text-color);
//     }

//     &__box {
//         width: 270px;
//         height: 120px;
//         background-color: var(--alternative-background);
//         border-radius: 4px;

//         @extend %centered-flex;

//         margin-bottom: 30px;
//     }
// }


