/* Header-styles */

.header {
    border-bottom: 1px solid #ECECEC;

    position: relative;
}

.header-box {
    @extend %y-centered-flex;
}

.nav {
    &__link {
        font-weight: 500;
        font-size: 40px;
        line-height: 1.18;
        letter-spacing: 0.02em;

        color: var(--primary-text-color);
        transition: color 250ms var(--cubic-bezier-stand);
    }
    &__item:not(:last-child) {
        margin-bottom: 32px;
    }
}


// .nav {
//     display: flex;
//     justify-content: space-between;
//     align-items: center; 
//     width: 100%; 

//     &__list {
//         @extend %y-centered-flex;
//     }

//     &__item:not(:last-child) {
//         margin-right: 50px;
//     }

//     &__link {
//         font-weight: 500;
//         line-height: 1.14;
//         letter-spacing: 0.02em;

//         color: var(--primary-text-color);

//         padding-top: 32px;
//         padding-bottom: 32px;
//         position: relative;

//         transition: color 250ms var(--cubic-bezier-stand);
//     }
// }

@media screen and (min-width: 768px) {
    .current::after {
        content: "";
        position: absolute;
        display: inline-block;

        width: 100%;
        height: 4px;
        border-radius: 2px;
        background-color: var(--accent-colour);
        left: 0;
        bottom: 0;
    }
}

.nav__link.current {
    color: var(--accent-colour);
}

.nav__link:hover,
.nav__link:focus,
.contacts__link:hover,
.contacts__link:focus {
    color: var(--accent-colour);
}


.contacts {
    &__link {
        font-weight: 500;
        line-height: 1.17;
        letter-spacing: 0.02em;

        color: var(--secondary-text-color);
        transition: color 250ms var(--cubic-bezier-stand);
    }
    &__phone {
        font-size: 34px;
        color: var(--accent-colour);
    }
    &__email {
        font-size: 24px;
        color: var(--secondary-text-color);
    }
}


// .contacts {
//     display: flex;
//     margin-left: auto;

//     &__item:not(:last-child) {
//         margin-right: 50px;
//     }

//     &__link {
//         @extend %y-centered-flex;

//         font-weight: 500;
//         line-height: 1.14;
//         letter-spacing: 0.02em;

//         color: var(--secondary-text-color);
//         transition: color 250ms var(--cubic-bezier-stand);
//     }

//     &__icon {
//         margin-right: 10px;
//         fill: currentColor;

//         transition: color 250ms var(--cubic-bezier-stand);
//     }
// }

.contacts__icon:hover {
    fill: var(--accent-colour);
}

// mobile

.header-button {
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: 0;
    background-color: transparent;

    @media screen and (min-width: 768px) {
        display: none;        
    }
}

.header-button .close-burger {
    display: none;

}

.header-button.is-open .close-burger {
    display: block;
}

.header-button.is-open .menu-burger {
    display: none;
}

.menu-container {


    background-color: aqua;



    @media screen and (max-width: 767px) {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;

        padding: 48px 40px;




        &.is-open {
            display: block;
        }
    }
    
    @media screen and (min-width: 768px) {
        display: flex;
        // justify-content: space-between;




        // flex-grow: 1;





        
    }
}