/* client-form */

.client-form {
    &__label {
        display: block;
        position: relative;
        /* margin-top: 40px; */
        margin-bottom: 10px;

        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.01em;
        color: var(--secondary-text-color);
    }

    &__input {
        margin-top: 4px;

        font-style: inherit;
        padding: 11px 11px 11px 42px;
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;
        width: 100%;

        color: var(--primary-text-color);

        transition: border-color 250ms var(--cubic-bezier-stand);
    }
}

.client-form__input:hover,
.client-form__input:focus {
    border-color: var(--accent-colour)
}

.client-form__input:focus+.client-form__svg,
.client-form__input:hover+.client-form__svg {
    fill: var(--accent-colour);
}

.client-form__svg {
    position: absolute;
    left: 12px;
    bottom: 11px;
    transition: fill 250ms var(--cubic-bezier-stand);
}

/* modal-coment */
.modal-coment {
    margin-bottom: 20px;

    &__textarea {
        padding: 12px 16px;
        font-style: inherit;
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;
        width: 100%;
        height: 120px;
        resize: none;

        color: var(--primary-text-color);
        transition: border-color 250ms var(--cubic-bezier-stand);
    }
}

.modal-coment__textarea::placeholder {
    color: rgba(117, 117, 117, 0.5);
}

/* checkbox */
.checkbox {
    @extend %y-centered-flex;
    justify-content: start;

    line-height: 1.17;
    font-size: 12px;
    color: var(--secondary-text-color);

    @media screen and (min-width: 1200px) {
        & {
            line-height: 1.71;
            font-size: 14px;
            display: flex;
            align-items: center;
            justify-content: center;;
        }
    }
}

.checkbox__input {
    /* appearance: none;
  position: absolute; */
    left: 54px;

    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.checkbox__svg {
    position: absolute;
    left: 40px;
    width: 16px;
    height: 15px;
    background-image: url(../img/uncheck.svg);
}

@media screen and (min-width: 1200px) {
    .checkbox__svg {
        left: 54px;
    }
}

.checkbox__input:checked+.checkbox__svg {
    background-image: url(../img/check.svg);
    opacity: 1;
}

.checkbox__input:focus-visible+.checkbox__svg {
    background-image: url(../img/uncheck-blue.svg);
}

.checkbox__input:checked:focus-visible+.checkbox__svg {
    background-image: url(../img/check.svg);
}

.checkbox__text {
    margin-left: 23px;
}

.checkbox__link {
    text-decoration: underline;
    color: var(--accent-colour);
}

.button-modal {
    display: block;
    padding: 10px 55px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.button-modal:hover {
    background-color: #188CE8;
}