/* Модальне вікно */

/* backdrop */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* width: 100vw;
  height: 100vw; */
    background-color: rgba(0, 0, 0, 0.2);

    opacity: 1;
    transition: opacity 250ms linear;
}




@media screen and (max-width: 767px) {
    .backdrop {
        padding: 94px 15px;
        overflow-y: scroll;
    }
}





.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
    /* visibility: visible; */
    visibility: hidden;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.5);
}

.modal {
    position: relative;

    // position: absolute;
    // top: 50%;
    // left: 50%;
    // width: 528px;
    // min-height: 581px;
    padding: 40px;

    background-color: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    // transform: translate(-50%, -50%) scale(1);

    transition: transform 250ms cubic-bezier(.23, .79, .83, .67);
}


@media screen and (min-width: 768px) {
    .modal {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 528px;
        min-height: 581px;

        transform: translate(-50%, -50%) scale(1);

        // transition: transform 250ms cubic-bezier(.23, .79, .83, .67);
    }
}

.modal__button-close {
    position: absolute;
    top: 8px;
    right: 8px;

    @extend %centered-flex;

    cursor: pointer;
    padding: 0;
    width: 30px;
    height: 30px;

    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;

    background-color: var(--main-background);
    fill: var(--logo-black);

    transition: fill 250ms var(--cubic-bezier-stand);
}

.modal__button-close:hover,
.modal__button-close:focus {
    fill: var(--accent-colour);
}

.modal__title {
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 12px;
}