// /* portfolio */
// /* Фільтр */

.portfolio {
    &__filter {
        display: flex;
        margin-bottom: 40px;

        @media screen and (max-width: 767px) {
            flex-wrap: wrap;
            row-gap: 15px;
            column-gap: 8px;        
            }

        @media screen and (min-width: 768px) {
            justify-content: center;
            margin-bottom: 30px;
        }
        @media screen and (min-width: 1200px) {
            margin-bottom: 50px;
        }
    }

    &__filter-item:not(:last-child) {
        @media screen and (min-width: 768px) {
            margin-right: 8px;
            }
    }
}

.portfolio__filter-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;

    background: var(--alternative-background);
    border: 0;
    border-radius: 4px;
    padding: 6px 22px;
    display: inline-block;

    cursor: pointer;
    font-family: inherit;
    font-style: inherit;

    transition: box-shadow 250ms var(--cubic-bezier-stand), background-color 250ms var(--cubic-bezier-stand), color 250ms var(--cubic-bezier-stand);
}

.portfolio__filter-button:hover,
.portfolio__filter-button:focus {
    color: var(--main-background);
    background-color: var(--accent-colour);

    box-shadow: 0px 2px 2px 0px #0000001F;
    box-shadow: 0px 1px 2px 0px #00000014;
    box-shadow: 0px 3px 1px 0px #0000001A;
}

// /* < !-- Елементи фільтру --> */

.portfolio__list {

    @media screen and (min-width:768px) {
        display: flex;
        flex-wrap: wrap;
        // justify-content: space-between;
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        margin: -15px;
    }

}

// /* project */
.project {

    @media screen and (max-width:767px) {
        &:not(:last-child) {
            margin-bottom: 20px;
        }
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        margin: 15px;
        width: calc((100% - 30px * 2) / 2);
        
    }

    @media screen and (min-width:1200px) {
        margin-right: 30px;
        margin-bottom: 30px;
        width: calc((100% - 60px) / 3);
        /* gap: 30px; */
    
        &:nth-child(3n) {
            margin-right: 0px;
        }
    
        &:nth-last-child(-n+3) {
            margin-bottom: 0px;
        }
    }

    &__link {
        display: block;
        transition: box-shadow 250ms var(--cubic-bezier-stand);
    }
}

.project__link:hover,
.project__link:focus {
    box-shadow: 0px 4px 4px 0px #00000040;
}

.project__container {
    border-left: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;

    padding: 20px 24px;
}


@media screen and (min-width: 768px) and (max-width: 1199px) {
    .project__container-stretch {
    padding: 20px 24px 56px 24px;
}
}






.project__title {
    font-size: 18px;
    line-height: 2.00;
    letter-spacing: 0.06em;
    color: var(--primary-text-color);
}

.project__text {
    margin-top: 4px;

    font-size: 16px;
    line-height: 1.88;
    color: var(--secondary-text-color);
}


.project__overlay {
    position: relative;
    overflow: hidden;
}

.project__overlay-text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;

    transform: translateY(100%);
    transition: transform 250ms var(--cubic-bezier-stand);

    padding: 63px 24px;

    font-size: 18px;
    line-height: 1.56;
    color: var(--primary-white-color);
}

// Текс і фон окремі при ховері
//  .project__overlay-text {
//   opacity: 0;
//   transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1);}
// .project__link:hover .project__overlay-text {
//   opacity: 1;
// } 

.project__link:hover .project__overlay-text {
    transform: translateY(0);
}

.project__overlay::before {
    content: '';
    position: absolute;

    transform: translateY(100%);
    transition: transform 250ms var(--cubic-bezier-stand);

    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: rgba(33, 150, 243, 0.9);
}

.project__link:hover .project__overlay::before {
    transform: translateY(0);
}

