/* чим ми займаємось */

.works {
    @media screen and (max-width: 1199px) {
            display: none;
        }

    padding-top: 0;

    &__list {
        display: flex;
        justify-content: space-between;
    }

    &__item {
        position: relative;
    }

    &__description {
        position: absolute;
        left: 0;
        bottom: 0;
        
        @extend %centered-flex;

        width: 100%;
        height: 70px;

        color: var(--primary-white-color);
        background-color: rgba(47, 48, 58, 0.8);
        text-transform: uppercase;
        font-weight: 700;
    }
}

